/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  display: grid;
  justify-items: center;
  position: relative;
  background-image: var(--background-image);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--background-color);
}

.title-decor {
  font-family: var(--default-font);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 95.7px;
  text-align: left;
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--title-color);
  display: block;
}

@media (width >= 768px) {
  .title-decor {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

.footer-decor-title {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.subtitle-decor-bold {
  background: var(--accent-color);
  color: var(--subtitle-color);
  font-family: var(--default-font);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
  display: block;
}

.header {
  display: grid;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  align-items: center;
  position: relative;
  height: 100vh;
  min-height: 668px;
}

.header__theme-menu-list {
  margin-block-start: 21px;
  display: grid;
  justify-content: end;
  list-style: none;
  row-gap: 15px;
  padding: 0px 13px 0px 13px;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  /*text-align: center;*/
}

.subtitle-decor-bold-location {
  margin-block-end: 25px;
}

@media (width >= 768px) {
  .header {
    display: grid;
    grid-template-rows: 4.7fr 1fr 1.57fr 1.13fr 1.77fr;
    grid-template-columns: 1fr 1fr;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  .subtitle-decor-bold-location {
    display: block;
    grid-column-start: 2;
    grid-row-start: 4;
    grid-column-end: span 1;
    margin-block-end: 10px;
    margin-inline-end: 20px;
  }

  .header__theme-menu {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: span 1;
    margin-block-end: 1px;
    margin-inline-end: 6px;
  }

  .main-title {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: span 2;
  }

  .header__theme-menu-list {
    row-gap: 14px;
  }
}

@media (width >= 1024px) {
  .header__theme-menu-list {
    display: grid;
    grid-template-columns: auto min-content auto;
    margin-block-start: 21.5px;
    column-gap: 10px;
    text-align: center;
    margin-inline-start: 20px;
  }

  .header {
    display: grid;
    grid-template-rows: 4.7fr 1fr 1.57fr 1.13fr 1.77fr;
    grid-template-columns: 1fr 1fr;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  .main-title {
    margin-block-end: 20px;
  }

  .header__theme-menu {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: span 2;
    align-self: start;
    justify-self: center;
  }
}

.header__theme-menu-button {
  text-transform: lowercase;
  font-family: var(--default-font);
  color: var(--list-button-color);
  background: transparent;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  border: none;
  padding-right: 13px;
  padding-left: 13px;
  padding-top: 2px;
  padding-bottom: 2px;
  border: 1px solid transparent;
  text-align: center;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--brackets-color);
}

.header__theme-menu-button:active {
  border: 1px solid var(--list-button-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover-color);
}

.header__theme-menu-button:focus,
.header__theme-menu-button:focus-visible {
  outline: none;
  outline-offset: 0;
  border-bottom: 1px solid;
  text-underline-offset: 3px;
}

.corner-borders {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 0;
  right: 0;
  visibility: var(--is-element-visible);
  z-index: -1;
}

@media (width >= 768px) {
  .corner-borders {
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
  }
}

.rec-text {
  grid-area: rec_text;
  display: block;
  position: relative;
  font-family: var(--default-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-align: right;
  color: var(--accent-color);
  z-index: -1;
}

.rec-text::after {
  content: "";
  display: inline-block;
  background-color: var(--accent-color);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  margin-inline-start: 9px;
  margin-inline-end: 9px;
  z-index: -1;
}

.corner-borders::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid var(--brackets-color);
  border-block-end: 1px solid var(--brackets-color);
  visibility: visible;
  z-index: -1;
}

.corner-borders::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--brackets-color);
  border-block-start: 1px solid var(--brackets-color);
  visibility: visible;
  z-index: -1;
}

.inverted-subtitle-decor-bold {
  display: block;
  font-family: var(--default-font);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
  color: var(--section-title-color);
  margin-block-end: 20px;
}

.decor-text {
  font-family: var(--default-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
  color: var(--text-color);
}

.text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.text-link:hover {
  border-bottom: 1px solid var(--text-color);
}

.text-link:focus,
.text-link:focus-visible {
  outline: 1px solid var(--text-color);
}

.article-section:not(:last-child) {
  margin-block-end: 50px;
}

@media (width >= 768px) {
  .article-section:not(:last-child) {
    margin-block-end: 80px;
  }
}

.article-section:first-child {
  margin-block-start: 40px;
}

@media (width >= 768px) {
  .article-section:first-child {
    margin-block-start: 60px;
  }
}

.article-section:last-child {
  margin-block-end: 40px;
}

@media (width >= 768px) {
  .article-section:last-child {
    margin-block-end: 60px;
  }
}

.subtitle-decor {
  background: var(--accent-color);
  color: var(--subtitle-color);
  font-family: var(--default-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
  display: block;
}

.gallery-list {
  display: grid;
  grid-template-rows: 142px 355px 237px 355px 237px;
  gap: 10px;
}

@media (width >= 768px) {
  .gallery-list {
    display: grid;
    grid-template-rows: 192px 230px 318px;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .sunset {
    grid-column-start: 1;
    grid-column-end: span 2;
  }
  .ice-cream {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: span 2;
  }
  .tape {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: span 2;
  }
  .street {
    grid-column-start: 2;
    grid-row-start: 3;
    grid-column-end: span 2;
  }
}

@media (width >= 1024px) {
  .gallery-list {
    display: grid;
    grid-template-rows: 260px 315px 430px;
  }

  .gallery-item:last-child {
    margin-block-start: 5px;
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  height: 100vh;
  width: calc(100% - 20px);
  min-height: 668px;
}

@media (width >= 768px) {
  .footer {
    width: 100%;
  }
}

.new-line {
  display: none;
}

@media (width >= 768px) {
  .new-line {
    display: inline-block;
  }
}

@media (width >= 1024px) {
  .new-line {
    display: none;
  }
}

.subtitle-decor-bold + .decor-text {
  margin-block-start: 10px;
}

.subtitle-decor + .decor-text {
  margin-block-start: 10px;
}

.title-and-text-on-one-row-article-style
  .subtitle-decor-bold
  + .paragraph-list {
  margin-block-start: 20px;
}

.paragraph-list-item:not(:last-child) {
  margin-block-end: 20px;
}

.paragraph-list-item:last-child {
  margin-block-end: 0px;
}

.subtitle-decor-bold + .gallery-list {
  margin-block-start: 10px;
}

@media (width >= 768px) {
  .subtitle-decor-bold + .gallery-list {
    margin-block-start: 20px;
  }
}

@media (width >= 768px) {
  .title-and-text-on-one-row-article-style {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }
}

@media (width >= 1024px) {
  .title-and-text-on-one-row-article-style {
    display: grid;
    grid-template-columns: 1fr 2.06fr;
  }
}

@media (width >= 768px) {
  .text-after-title-article-style {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }

  .row-articles {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: span 3;
  }
}

@media (width >= 1024px) {
  .text-after-title-article-style {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }

  .row-articles {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: span 3;
  }

  .what-reduce-concentration-articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }
}

.main-content {
  margin-inline-start: 10px;
  margin-inline-end: 10px;
}

@media (width >= 768px) {
  .main-content {
    margin-inline-start: 20px;
    margin-inline-end: 20px;
  }
}
